{% extends 'base.html.twig' %}

{% block title %}Esqueci Minha Senha{% endblock %}

{% block body %}
    <h1>Esqueci Minha Senha</h1>

    <form method="post">
        {{ form_row(form.email) }}
        <button type="submit">Enviar Link de Recuperação</button>
    </form>
{% endblock %}